.button {    
    font-size: 1em;

    background-color: transparent;
    color: rgb(175, 0, 175);
    border: 2px solid rgb(175, 0, 175);
    border-radius: 7px;

    cursor: pointer;
    transition: .2s;

    &:hover {
        color: white;
        border: 2px solid purple;
        background-color: purple;
    }

    &.active {
        color: white;
        border: 2px solid purple;
        background-color: purple;
    }
}