/* .App {
  padding: 30px;
  display: flex;
} */

.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 8%;

  min-width: 100vw;
  min-width: 100vh;

  padding: 100px;
}

.add_todo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 250px;
  height: 70px;

  background-color: rgb(247, 247, 247);
  border: 3px solid rgb(175, 0, 175);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  z-index: 1000;
}