/* .App {
  padding: 30px;
  display: flex;
} */

.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 8%;

  min-width: 100vw;
  min-width: 100vh;

  padding: 100px;
}
